            </div>
        </div>
    </div>
</main>

<footer class="footer bg-light p-3 mt-3">
    <div class="container">
        <div class="row">
        <p class="text-center">Copyright &copy; <%= new Date().getFullYear() %> Blog Web. All rights reserved.</p>
    </div>
</footer>

</body>
</html>