<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blog Web</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="styles/main.css">

</head>
<body class="d-flex flex-column min-vh-100">

<header>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-4 text-center">
                <a class="navbar-brand" href="#">Blog Web</a>
            </div>
            <div class="col-lg-6 col-md-12">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/post">New Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/all-posts">All Posts</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<main class="flex-grow-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">